// 主题色
$light-color: #ffffff;
$dark-color: #161619;
$default-color: #1176ff;
$theme-color: #1176ff;
$font-color: #a1aac7;

$front-color-light: #ffcb19;
$background-color-light:#ffffff; 
$font-color-light: #060604;
$list-background-color-light: #f9f9fb;

$front-color-dark: #1c1d1f;
$background-color-dark: #161619; 
$font-highlight-color-dark: #fd5833;
$font-color-dark: #acacac;
:export {
    theme_color: $theme-color;
}

